<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="../css/addCatSubCat.css">
    <script src="/js/addCat.js" defer></script>
</head>
<body>
    <%- include('headerAdmin') %>
    <main>
        <form class="addCategory" method="post">
            <p>Add Category</p>
            <input type="text" id="addCat" placeholder="Tambah kategori.." name="addCat">
            <button type="submit">+</button>
        </form>
        <p id="alert1">*Anda belum mengisi apapun</p>
        <p id="alert">*kategori telah ditambahkan sebelumnya</p>
        <div class="category">
            <% for(let i=0; i<kategori.length; i++){ %>
            <a href="/addSubCategory/<%- kategori[i].kategori_id %>" value="<%- kategori[i].kategori_id %>" name="<%- kategori[i].kategori_id %>"> <%= kategori[i].nama_kategori  %></a>
            <% } %>
        </div>
    </main>
</body>
</html>