<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../css/userProfile.css">
    <script src="/js/anotherUser.js" defer></script>
</head>
<body>
    <%- include('header') %>
    <section>
        <div id="profil">
            <img src="../assets/profile.png" width="100px" height="100px">
            <p><%- usernameAnother %></p>
            <section id="dataUser">
                <div id ="Review">
                    <p><%= review %></p>
                    <p>Reviews</p>
                </div>
                <div id ="Followers">
                    <p><%= followers %></p>
                    <p>Followers</p>
                </div>
                <div id ="Following">
                    <p><%= following %></p>
                    <p>Following</p>
                </div>
            </section>
            <% if(username!="Admin123"){ %>
            <a id="followingUser">Follow</a>
            <a id="followedUser">Followed</a>
            <% } %>
        </div>
        
        <div id="Reviews">
            <% if(review==0){ %>
                <h1>*User belum melakukan review :)</h1>
            <% } %>
            <section>
                <% for(let i=0; i<lsReview.length; i++){ %>
                <div class ="bag">
                    <div class="left">
                        <img src="<%= lsReview[i].foto %>" class="fotoTas">
                        <a class="Merek" href="/Bag/<%= lsReview[i].tas_id %>"><%= lsReview[i].nama_merek %></a>
                    </div>
                    <div class="right">
                        <div class="prof">
                            <img src="../assets/profile.png" class="fotoProf">
                            <p class="profile"><%= lsReview[i].username %></p>
                            <% const date = new Date(lsReview[i].tanggal); %>
                            <% const year = date.getFullYear(); %>
                            <% const month = date.getMonth() + 1; %>
                            <% const day = date.getDate(); %>
                            <% const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`; %>
                            <p class="time"><%= formattedDate %></p>
                        </div>
                        <div class="bintangs">
                            <% for(let j=0; j<Number(lsReview[i].angka_review); j++){ %>
                            <img src="../assets/gambar/bintang.png" class="bintang">
                            <% } %>
                        </div>
                        <p class="reviewUser"><%= lsReview[i].teks_review %></p>
                    </div>
                </div>
                <% } %>
            </section>
        </div>
        <section id="FollowingFollowers">
            <div id="Nav">
                <p id="kananFollower">Followers</p>
                <p id="kananFollowing">Following</p>
            </div>
            <hr>
            <div id="Follows">
                <section>
                    <% for (let i=0; i<lsFollower.length; i++){ %>
                    <div class="foll" >
                        <img src="../assets/profile.png" width="50px" height="50px">
                        <a href="/anotherUser/<%= lsFollower[i].username1 %>" name="<%= lsFollower[i].username1 %>"><%= lsFollower[i].username1 %></a>
                    </div>
                    <% } %>
                </section>
            </div>
            <div id="Follings">
                <section>
                    <% for (let i=0; i<lsFollowing.length; i++){ %>
                    <div class="foll">
                        <img src="../assets/profile.png" width="50px" height="50px">
                        <a href="/anotherUser/<%= lsFollowing[i].username2 %>" name="<%= lsFollowing[i].username2 %>"><%= lsFollowing[i].username2 %></a>
                    </div>
                    <% } %>
                </section>
            </div>
        </section>
    </section>
</body>
</html>