<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bag Page</title>
    <link rel="stylesheet" href="../css/bagPage.css">
    <script src="/js/bag.js" defer></script>
</head>
<body>
    <%- include('header') %>
    <section id="all">
        <div id="left">
            <h1> BAG <%= id %></h1>
            <div id="photoContainer">
                <div id="photos">
                    <img src="<%= path %>" id="foto">
                </div>
            </div>

            <h2> Details </h2>
            <br>
            <div id="details">
                <p> Bag ID</p>
                <input type="text" placeholder="<%= id %>" disabled>
                <p> Merek</p>
                <input type="text" placeholder="<%= merek %>" disabled>
                <p> Designer</p>
                <input type="text" placeholder="<%= designer %>" disabled>
                <p> Kategori</p>
                <input type="text" placeholder="<%= kategori %>" disabled>
                <p> Sub-Kategori</p>
                <input type="text" placeholder="<%= subkat %>" disabled>
                <p> Warna</p>
                <input type="text" placeholder="<%= warna %>" disabled>
                <p> Ukuran</p>
                <input type="text" placeholder="<%= panjang %>cm x <%= lebar %>cm x <%= tinggi %>cm" disabled>
            </div>
        </div>

        <div id="right">
            <div id="upperR">
                <h2> Reviews</h2>
                <div class="bintangs">
                    <% for(let j=0; j<rataReview; j++){ %>
                    <img src="../assets/gambar/bintang.png" class="bintang">
                    <% } %>
                </div>
                <% if(username != 'Admin123'){ %>
                    <% if(sudah==0){ %>
                    <button id="add" name="addReview">+ Add Review</button>
                    <% } else { %>
                    <button id="add1" name="addReview" disabled>+ Add Review</button>
                    <% } %>
                <% } %>
            </div>
            
            <div class ="reviews">
                <% if(review==0){ %>
                    <h1>*Belum ada yang melakukan review :)</h1>
                <% } %>
                <section>
                    <% for(let i=0; i<review; i++){ %>
                    <div class ="userReviews">
                        <div class="left">
                            <img src="<%= lsReview[i].foto %>" class="fotoTas">
                            <p class="Merek"><%= merek %></p>
                        </div>
                        <div class="right">
                            <div class="prof">
                                <img src="../assets/profile.png" class="fotoProf">
                                <a class="profile" href="/anotherUser/<%= lsReview[i].username %>"><%= lsReview[i].username %></a>
                                <% const date = new Date(lsReview[i].tanggal); %>
                                <% const year = date.getFullYear(); %>
                                <% const month = date.getMonth() + 1; %>
                                <% const day = date.getDate(); %>
                                <% const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`; %>
                                <p class="time"><%= formattedDate %></p>
                            </div>
                            <div class="bintangs">
                                <% for(let j=0; j<Number(lsReview[i].angka_review); j++){ %>
                                <img src="../assets/gambar/bintang.png" class="bintang">
                                <% } %>
                            </div>
                            <p class="reviewUser"><%= lsReview[i].teks_review %></p>
                        </div>
                    </div>
                    <% } %>
                </section>
            </div>
        </div>
        <div id="addReview">
            <div class="fill_file" id="fill">
                <div id="head">
                    <h2>ADD REVIEW</h2>
                </div>
                <form method="post" action="/uploadRev">
                    <div id="nilai">
                        <input type="radio" name="nilai" value = 1>
                        <label for="nilai1">1</label>
                        <br>
                        <input type="radio" name="nilai" value = 2>
                        <label for="nilai2">2</label>
                        <br>
                        <input type="radio" name="nilai" value = 3>
                        <label for="nilai3">3</label>
                        <br>
                        <input type="radio" name="nilai" value = 4>
                        <label for="nilai4">4</label>
                        <br>
                        <input type="radio" name="nilai" value = 5>
                        <label for="nilai5">5</label>
                    </div>
                    <div id="deskripsi">
                        <label for="review">Write your review</label>
                        <textarea name="review"></textarea>
                    </div>
                    <div id="button">
                        <button name="cancel" type="button">Cancel</button>
                        <button name="upload" type="submit">Upload Your Review</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
    </section>
</body>
</html>