<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Bag's Community</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <%- include('header') %>

    <section>
        <div id="grafikTopTen">
            <h1> DASHBOARD </h1>

            <div id="graphs">
                <a class="Back">&#10094;</a>
                <a class="forward">&#10095;</a>
            </div>
            
        </div>

        <div id="topreviews">
            <h1> TOP REVIEWS</h1>
            <div id="r">
                <section id="Bags">
                    <% for(let i=start; i<end && i<(lsReview.length); i++){ %>
                        <div class="bag">
                            <div class="left">
                                <img src="<%= lsReview[i].foto %>" class="fotoTas">
                                <a class="Merek" href="/bag/<%= lsReview[i].tas_id %>"><%= lsReview[i].nama_merek %></a>
                                <p class="subkat"><%= lsReview[i].subkat %></p>
                            </div>
                            <div class="right">
                                <div class="prof">
                                    <img src="../assets/profile.png" class="fotoProf">
                                    <a class="profile" href="/anotherUser/<%= lsReview[i].username %>"><%= lsReview[i].username %></a>
                                    <% const date = new Date(lsReview[i].tanggal); %>
                                    <% const year = date.getFullYear(); %>
                                    <% const month = date.getMonth() + 1; %>
                                    <% const day = date.getDate(); %>
                                    <% const formattedDate = `${year}-${month.toString().padStart(2, '0')}-${day.toString().padStart(2, '0')}`; %>
                                    <p class="time"><%= formattedDate %></p>
                                </div>
                                <div class="bintangs">
                                    <% for(let j=0; j<Number(lsReview[i].angka_review); j++){ %>
                                        <img src="../assets/gambar/bintang.png" class="bintang">
                                    <% } %>
                                </div>
                                <p class="reviewUser"><%= lsReview[i].teks_review %></p>
                            </div>
                        </div>
                    <% } %>
                </section>
            </div>
            <%- include('./pagination.ejs') %>
        </div>
    </section>
    <%- include('footer') %>
</body>
</html>