<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Manual - Bag's Community</title>
    <link rel="stylesheet" href="../css/upload.css">
    <script src="/js/uploadManual.js" defer></script>
</head>
<body>
    <form id="manual" method="post" action="/uploadManual" enctype="multipart/form-data">
        <div id="id">
            <label for="bagid">Bag ID</label>
            <input type="text" name="bagid" value="<%= id %>" disabled="true">
        </div>
        <div id="lab">
            <label for="merek">Merek</label>
            <select name="merek">
                <% for(let i=0; i<merek.length; i++){ %>
                    <option value="<%= merek[i].nama_merek %>"><%= merek[i].nama_merek %></option>
                <% } %>
            </select>
            <label for="designer">Designer</label>
            <select name="designer">
                <% for(let i=0; i<designer.length; i++){ %>
                    <option value="<%= designer[i].nama_designer %>"><%= designer[i].nama_designer %></option>
                <% } %>
            </select>
            <label for="kategori">Kategori</label>
            <select name="kategori">
                <% for(let i=0; i<kategori.length; i++){ %>
                    <option id="kat" value="<%= kategori[i].nama_kategori %>" name="kategori"><%= kategori[i].nama_kategori %></option>
                <% } %>
            </select>
            <label for="subkat">Sub-Kategori</label>
            <select name="subkat"  disabled>
            </select>
            <label for="warna">Warna</label>
            <input type="text" name="warna">
            <label for="panjang">Panjang</label>
            <input type="text" name="panjang">
            <label for="lebar">Lebar</label>
            <input type="text" name="lebar">
            <label for="tinggi">Tinggi</label>
            <input type="text" name="tinggi">
            <label for="foto">Foto</label>
            <input type="file" name="image">
        </div>
        <div id="button">
            <button name="cancel" href="/addBagItem">Cancel</button>
            <button name="upload" type="submit">Upload</button>
        </div>
    </form>
</body>
</html>